#app {
    font: 12px Tahoma, Helvetica, Arial;
    color: #252525;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

.grid-row {
    display: block;
    width: 100%;
}
.grid-cell {
    display: inline-block;
    float: left;
    width: 25%;
    height: 60px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}
.more-btn {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #2323ff;
}
